@import './globals/colors';

.chart {
  height: 450px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__flux {
    display: flex;
  }

  &__infos {
    margin-bottom: 20px;
    width: 250px;
    padding: 10px 0;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
    opacity: 0.5;
    transition: opacity 300ms;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  &__incomes, &__outcomes {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 99;

    &__income, &__outcome {
      width: 125px;
      height: 0;
      transition: height 200ms;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    &__box {
      position: absolute;
      width: 320px;
      padding: 20px;
      margin-top: 5px;
      border-radius: 5px;
      box-shadow: 0 3px 6px $shadow;
      display: none;
      text-align: center;

      i {
        position: absolute;
        margin-top: -25px;
        margin-left: 160px;

        &:after {
          content: url('../../public/quit.png');
        }
        &:hover:after {
          cursor: pointer;
        }
      }

      h1 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        margin-bottom: 15px;
      }

      button {
        font-size: 14px;
        border-radius: 5px;
        padding: 7px 40px;
        background-color: $white;
        font-weight: bold;
        transition: box-shadow 100ms;

        &:hover {
          cursor: pointer;
          box-shadow: 0 5px 5px $shadow;
        }
      }
    }
  }

  .chart__incomes__income {
    background-color: $blue;
  }

  .chart__outcomes__outcome {
    background-color: $red-light;
  }

  .chart__incomes__box {
    margin-left: -380px;

    h1 {
      color: $blue;
    }

    button {
      border: 2px solid $blue;
      color: $blue;
    }
  }

  .chart__outcomes__box {
    margin-left: 145px;

    h1 {
      color: $red-light;
    }

    button {
      border: 2px solid $red-light;
      color: $red-light;
    }
  }

  .box-active {
    .chart__outcomes__outcome, .chart__incomes__income {
      box-shadow: inset 0 0 20px 10px $shadow-medium;

      &:hover {
        opacity: 1;
        cursor: initial;
      }
    }

  }
}
