@import './globals/colors';
@import "./globals/responsive";

.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

  &--blue, &--red {
    font-weight: bold;
    font-size: 100px;
  }

  &--blue {
    color: $blue;
  }

  &--red {
    color: $red-light;
  }

  @include extra-small {
    &--blue, &--red {
      font-size: 70px;
    }
  }
}
